<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning</title>
</head>
<body>
    <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
        <h3>Insert 28x28 image</h3>
        <input type="file" name="myFile">
        <h3>Expected value</h3>
        <input type="text" name="myValue">
        <input type="submit" value="send">
    </form>
    <h1>Result: {{ result }}</h1>
</body>
</html>